/* 
  primary color #37b24d
  grey color #868e96
*/

.header {
  background-image: linear-gradient(#16471f38),
    url("https://productstorageimages.blob.core.windows.net/bannoithat-3dmodel/background-2.jpg");
  background-position: center;
  background-size: cover;
  height: 20rem;
}

.header-user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-user {
  cursor: pointer;
  position: relative;
}

.dropdown-menu-user {
  display: block;
  color: #c7cfc6;
  z-index: 100;
  width: 10rem;
  background-color: #637062c2;
  border-radius: 5px;

  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.3s;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.open-menu-user {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

@media (max-width: 40em) {
  .dropdown-menu-user {
    color: #000000;
    z-index: 100;
    background-color: #ffffff;
    border-radius: 5px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translate(0%, 0%);
    transition: all 0.3s;

    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0.5rem;
    font-weight: 600;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .open-menu-user {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
}
